@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean');
/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap');*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

body, input, textarea, select, button, table {
    font-size: 14px;
}

body {
    position: relative;
    -webkit-text-size-adjust: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

input, button {
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    cursor: pointer;
}

img, fieldset {
    border: 0
}

ul, ol {
    list-style: none
}

em, address {
    font-style: normal
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #222;
}

table {
    border-collapse: collapse
}

br {
    font-family: dotum;
}

.wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
    position: relative;
}

/*header*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 78px;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    transition: all 500ms;
}

header.start {
    background-color: transparent;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0);
}

header.start .header__nav > ul > li > a, header.start .header__lang > ul > li, header.start .header__lang > ul > li > a {
    color: #fff;
}

header > .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 116px;
    height: 26px;
    background-image: url("/ncube/images/logo-b.png");
}

header.start .header-logo {
    background-image: url("/ncube/images/logo-w.png");
}

.header__nav {
    margin-left: 100px;
}

.header__nav > ul > li {
    float: left;
    padding: 0 30px;
}

.header__nav > ul > li > a {
    color: #999;
    font-size: 16px;
}

.header__nav > ul > li.select a {
    font-weight: 500;
    color: #222
}

.header__lang {
    margin-left: auto;
}

.header__lang > ul > li:first-child {
    margin-right: 20px;
}

.header__lang > ul > li {
    float: left;
    display: flex;
    align-items: center;
}

.header__lang > ul > li:first-child:before {
    display: none;
}

.lang__change {
    position: relative;
    cursor: pointer;
}

.lang__change:after {
    content: "\f0d7";
    display: inline-block;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    margin-left: 8px;
}

.lang__change:hover .change__ul {
    display: block;
}

header.start .lang__change:hover .change__ul li a {
    color: #fff;
}

.change__ul {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
}

.change__ul li a {
    display: inline-block;
    padding-top: 5px;
}

/*header END*/

#container {
    /*padding-top: 78px;*/
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 10;
    transition: all 500ms;
    transform: translateX(0px);
}

#container > section {
    padding-top: 78px;
    position: relative;
    height: 100vh
}

#leftAside {
    position: fixed;
    left: 75px;
    top: 50%;
    z-index: 80;
    color: #fff;
}

#leftAside > img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms;
    opacity: 100%;
}

#leftAside > img.none {
    opacity: 0;
}

/*#leftAside:before {*/
/*    content: '';*/
/*    width: 25px;*/
/*    height: 210px;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-image: url("../images/scroll-down-w.png");*/
/*}*/

/*.scroll-down-black#leftAside:before {*/
/*    background-image: url("../images/scroll-down-b.png") !important;*/
/*}*/

/*.scroll-up#leftAside:before {*/
/*    background-image: url("../images/scroll-up-w.png") !important;*/
/*}*/

#rightAside {
    position: fixed;
    right: 75px;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 80;
    color: #999;
    /*text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);*/
    font-size: 16px;
    line-height: 2.5
}

#rightAside > ul > li.select {
    color: #fdd000;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}