#ecosystem {
    width: 100%;
    background-image: url("../images/eco-bg.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.ecosystem-title {
    height: 130px;
    padding: 70px 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.8px;
    text-align: center;
}

.ecosystem-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-top .top-exchange {
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-top .top-exchange > img {
    margin-right: 33px;
    max-height:38px;
}

.content-top .top-exchange > img:last-child {
    margin-right: 0;
}

.content-top .top-coin {
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    position: relative;
}

.content-top .coin:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #fff;
    z-index: -1;
}

.content-top .coin:last-child:after {
    display: none;
}

.content-top .top-coin:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.content-top .top-coin .coin {
    position: relative;
    width: 111px;
    height: 111px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
    z-index: 10;
    overflow: hidden;
}

.content-top .top-coin .coin:last-child {
    margin-right: 0;
}

.content-bottom {
    background-image: url(../images/eco-border.png);
    width: 951px;
    height: 296px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-bottom > .content-bottom-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-bottom .bottom-item {
    position: relative;
    width: 203px;
    height: 203px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content-bottom .bottom-item > span {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 180%);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.32px;
}

body[data-lang='ja'] .content-bottom .bottom-item > span {
    letter-spacing: -1.5px;
}

@media screen and (max-width: 1031px) and (min-width: 900px) {
    .content-bottom {
        width: 100%;
        height: 0;
        padding-bottom: 31%;
        position: relative;
        background-size: contain;
        background-position: center top;
    }

    .content-bottom-wrap {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 900px) {

    .content-top .top-coin .coin {
        margin-right: 15px;
    }

    .content-top .top-exchange > img {
        max-height:25px;
    }

    .ecosystem-title {
        height: auto;
        padding: 0px 0 30px 0;
        font-size: 35px;
    }

    .content-bottom {
        max-width: 495px;
        width: 100% !important;
        height: 550px;
        position: relative;
        background-size: contain;
        background-position: center top;
    }

    .content-bottom-wrap {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-wrap: wrap;
    }

    .content-bottom .bottom-item {
        width: 40%;
        height: 0;
        padding-bottom: 40%;
        margin: 30px 0
    }
    .content-bottom .bottom-item > span{
        bottom: 25px;
    }
    .bottom-item img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content-bottom .bottom-item > span {
        font-weight: 300;
    }

}

@media screen and (max-width: 420px) {
    .content-bottom .bottom-item > span{
        bottom: 20px;
    }
    .content-top .top-exchange > img {
        max-height:18px;
    }
}