#ecosystem {
    width: 100%;
    background-image: url("../images/eco-bg.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.ecosystem-title {
    height: 130px;
    padding: 70px 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.8px;
    text-align: center;
}

.ecosystem-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-top{
    display: flex;
    flex-direction: column;
}

.content-top .top-exchange{
    margin-bottom: 33px;
}

.content-top .top-exchange>img:first-child{
    margin-right: 33px;
}

.content-top .top-coin{
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    position: relative;
}

.content-top .top-coin:before{
    content: '';
    display: inline-block;
    position : absolute;
    width : 100%;
    height : 1px;
    top:39%;
    transform: translateY(-50%);
    background-color: #fff;
}

.content-top .top-coin:after{
    content: '';
    display: inline-block;
    position : absolute;
    width : 1px;
    height : 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.content-top .top-coin .coin{
    width: 111px;
    height: 111px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
    z-index: 10;
}

.content-top .top-coin .coin:last-child{
    margin-right: 0;
}

.content-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/eco-border.png);
    width: 951px;
    height: 296px;
    background-size: cover;
    background-position: center;
}

.content-bottom >.bottom-item{
    position: relative;
    width: 203px;
    height: 203px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
}

.content-bottom >.bottom-item>span{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom : 0;
    transform: translate(-50%, 180%);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.32px;
}
