#ecosystem {
    width: 100%;
    background-image: url("../images/eco-bg.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.table {
    display: table;
    width: 100%;
    height: calc(100% - 130px);
}

.table-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: 100%
}

.ecosystem-title {
    height: 130px;
    padding: 70px 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.8px;
    text-align: center;
}

.ecosystem-main {
    margin-top: 230px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section-ecosystem-circle {
    position: relative;
    border: 2px solid #343434;
    display: inline-block;
    width: 566px;
    height: 292px;
    border-bottom: 0;
    border-radius: 292px 292px 0 0;
}

.ecosystem-circle {
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.ecosystem-desc img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ecosystem-desc p {
    position: absolute;
    bottom: 0;
    transform: translate(0, 250%);
}

.eco-location-0 .ecosystem-desc p, .eco-location-50 .ecosystem-desc p {
    right: 40%;
}

.eco-location-75 .ecosystem-desc p, .eco-location-100 .ecosystem-desc p {
    left: 40%;
}


.ecosystem-circle.eco-location-0 {
    bottom: -10%;
    left: -20%;
}

.ecosystem-circle.eco-location-50 {
    top: -45%;
    left: 20%;
}

.ecosystem-circle.eco-location-75 {
    top: -45%;
    left: 80%;
}

.ecosystem-circle.eco-location-100 {
    bottom: -10%;
    left: 120%;
}

.ecosystem-inner-desc {
    width: 100%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.s-ecosystem-circle {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 111px;
    height: 111px;
    margin-right: 25px;
}

.s-ecosystem-circle:last-child {
    margin-right: 0;
}

.ecosystem-inner-desc hr {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dfdfdf;
    z-index: -1;
}

.s-ecosystem-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}