#story{
    padding-top: 0 !important;
    background: #fafafa;
    display: flex;
    align-items: center;
}

#story .wrap{
    text-align: center;
}
#story .wrap > h1{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -0.9px;
    margin-bottom: 77px;
}

#story .wrap>div {
    display: flex;
    justify-content: center;
}

#story .wrap>div>.story__image>img {
    width: 100%;
}
.story__contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    flex: 1;
}

.story__contents h1:before{
    display: inline-block;
    margin-right: 13px;
    content: '';
    width: 29px;
    height: 29px;
    vertical-align: middle;
    background-image: url("/ncube/images/story-icon.png");
}

.story__contents > h1{
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.52px;
    text-align: left;
}

.story__contents > p{
    font-size: 16px;
    letter-spacing: -0.32px;
    text-align: justify;
    color: #2c2c2c;
    padding-bottom: 20px;
}

.story__contents > p>b{
    font-weight: normal;
}
.circle-box{
    display: flex;
    padding-bottom: 22px;
}

.circle{
    width: 241px;
    height: 241px;
    background: #fdd000;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle:first-child{
    z-index: 10;
}

.circle:last-child{
    background: #222222;
    margin-left: -20px;
}

.circle span{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.34px;
    text-align: center;
}

.circle p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.circle:last-child span, .circle:last-child p{
    color: #fff;
}


@media screen and (max-width: 1350px) and (min-width: 900px) {

    #story .wrap>div>.story__image {
        width: 40%;
        display: flex;
    }

    .story__contents{
        width: 55%;
        max-width: 600px;
        margin-left: 30px;
    }

    .story__contents > h1{
        margin-bottom: 10px;
    }

    .circle{
        width: 215px;
        height: 215px;
    }

    .circle span{
        font-size: 16px;
    }

    .circle p{
        font-size: 13px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 900px) {
    #container > #story{
        padding-top: 75px !important;
    }

    #story .wrap>div{
        flex-direction: column;
    }

    #story .wrap > h1{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .story__contents{
        margin-left: 0;
        padding-top: 20px;
    }
    .story__contents > h1{
        margin-bottom: 15px;
        font-size: 20px;
        text-align: center;
    }
    .story__contents h1:before{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
    .story__contents > p{
        text-align: center;
        font-size: 15px;
    }
    .circle-box{
        justify-content: center;
        padding-bottom: 0;
    }
    .circle{
        width: 170px;
        height: 170px;
    }
    .circle span{
        font-size: 14px;
    }
    .circle p{
        margin-top: 8px;
        font-size: 13px;
    }

    .story__contents > p>b{
        font-weight: bold;
    }

    #main .navi_warp{
        bottom: 70px;
    }

    #main .navi_warp button{
        width: 14px;
        height: 14px;
        margin: 0 5px;
        border :0;
        background-color: rgba(255,255,255,.5);
    }
}