#vision {
    width: 100%;
    background-image: url("../images/vision-bg.png");
    background-size: cover;
    background-position: center;
}

.table {
    display: table;
    width: 100%;
    height: calc(100% - 130px);
}

.table-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: 100%
}

.vision-title {
    height: 130px;
    padding: 70px 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.8px;
    text-align: center;
}

.vision-main {
    text-align: center;
}