#vision {
    width: 100%;
    background-image: url("../images/vision-bg.png");
    background-size: cover;
    background-position: center;
}

.vision-title {
    height: 130px;
    padding: 70px 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.8px;
    text-align: center;
}

.vision-main {
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .vision-main img {
        max-height: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .vision-title {
        padding: 0px 0 30px 0;
        font-size: 35px;
    }
}